@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;

}

body{
    background-color: #111;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#nav-items-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}